
/* Menu button */
.menu-btn {
  position: fixed;
  top: 15px;
  right: 15px;
  width: 25px;
  height: 18px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Hamburger lines */
.menu-btn span {
  height: 3px;
  width: 100%;
  background: white;
  border-radius: 2px;
  transition: all 0.3s ease;
}

/* Animate to X */
.menu-btn.active span:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}

.menu-btn.active span:nth-child(2) {
  opacity: 0;
}

.menu-btn.active span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  right: -260px;
  width: 260px;
  height: 100vh;
  background: #111;
  padding-top: 60px;
  transition: left 0.3s ease;
  z-index: 1000;
}

.sidebar.open {
  right: 0;
}

/* Sidebar links */
.sidebar nav a {
  display: block;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
}

.sidebar nav a:hover {
  background: #333;
}

/* Content */
.content {
  padding: 20px;
}

/* Mobile only */
@media (min-width: 768px) {
  .menu-btn,
  .sidebar {
    display: none;
  }
}

/* ALBUM */

.section-2{
  padding-inline: 15px;
  padding-top: 10px;
}

.features-grid{
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  gap: 30px;
  padding: 15px;
}

.features-grid-preview{
  border: 2px solid rgb(231, 231, 231);
}

.image-container{
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-style: double;
}

.features-img{
  width: 100%;
  height: 100%;
  object-fit:cover;
}

.featured{
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-block: 20px;
}